{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jquery": true,
        "amd": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "spread": true,
        "templateStrings": true,
        "jsx": true
    },
    globals: {"module": undefined},
    "rules": {
        "comma-dangle": [1, "always-multiline"],
        // "block-scoped-var": [2],
        "consistent-return": [2],
        "curly": [2, "multi-line"],
        "camelcase": 1,
        "dot-notation": [2, {"allowPattern": "^[a-z]+(_[a-z]+)+$"}], // разрешает data["foo_bar"]
        "guard-for-in": [2],
        "no-div-regex": [2],
        "no-else-return": [2],
        "no-eq-null": [2],
        "no-fallthrough": [2],
        "no-floating-decimal": [2],
        "no-param-reassign": [2],
        "no-self-compare": [2],
        "no-throw-literal": [2],
        "no-void": [2],
        "no-warning-comments": [1, { "terms": ["todo", "fixme"], "location": "anywhere" }],
        "radix": [2],
        //"vars-on-top": [1],
        "wrap-iife": [2, "inside"],
        "yoda": [2, "never", { "exceptRange": true }],
        "no-undefined": [1],
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "comma-style": [2, "first", {exceptions: {ArrayExpression: true, ObjectExpression: true} }],
        //"consistent-this": [1, "self"],
        //"func-names": [2],
        // "func-style": [1, "declaration"],
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        // "max-nested-callbacks": [2, 3],
        "default-case": [2],
        "key-spacing": [0],
        "quotes": [1, "single", "avoid-escape"],
        "no-multi-spaces": [2, { exceptions: { "Property": false } }],
        "no-shadow": [2],
        "no-lonely-if": [2],
        "no-continue": [2],
        "no-console": [1],
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "no-multiple-empty-lines": [1, {"max": 2}],
        "max-len": [1, 100, 2],
        "max-depth": [2, 4],
        "no-bitwise": [2],
        // "complexity": [1, 4],
        "no-nested-ternary": [2],
        "no-unneeded-ternary": [2],
        "operator-linebreak": [2, "before"],
        "no-unused-vars": [1],
        "no-use-before-define": [2, "nofunc"]
    }
}
