@import "normalize.css";
@import "milligram/dist/milligram.css";

/* overrides */
.container {
    height: 80vh;
    max-width: 200rem;
}

/* end overrides */

/* utilites */

.panel {
    margin: 20px;
}

._full-height {
    height: 100%;
}

.clean {
    border: 0;
    &:focus {
        border: 0;
        outline: none;
    }
}

/* end utilites */


/* app */

.notes-list {
    border-right: 1px #cce solid;
    height: 100%;
}

.notes-item {
    cursor: pointer;
}

.note-edit {
    height: 100%;
}

.note-edit_heading {
    border-bottom: 1px #cce solid;
}

.note-edit_body {
    height: 90%;
}
