@import "normalize.css";

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
    outline: none;

    width: 100%;
    box-sizing: border-box;

    display: block;
}

* {
    box-sizing: border-box;
}

$block-indent: 10px;
$block-border-radius: 4px;

@define-mixin block-bordered {
    padding: $block-indent;

    border: 1px solid #000;
    border-radius: $block-border-radius;
    background: white;
}

@define-mixin block-click {
    cursor: pointer;

    &:hover {
        background: color(white b(10%));
    }
}

@define-mixin block-grab {
    cursor: grab;

    &.-grabbing {
        cursor: grabbing;
        transform: rotate(2deg);
    }

    &.-placeholder {
        $color: color(white b(20%));
        background: $color;
        color: $color;

        * {
            visibility: hidden;
        }
    }
}

body {
    height: 100vh;
}

.kanban-board {

    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;

    padding: $block-indent 0;

    > * {
        flex-basis: 270px;

        flex-shrink: 0;

        margin: 0 calc($block-indent/2);
    }
    > :first-child {
      margin-left: $block-indent;
    }
    > :last-child {
      margin-right: $block-indent;
    }
}

.kanban-list {
    @mixin block-bordered;
    @mixin block-grab;

    display: flex;
    flex-direction: column;

    max-height: 100%;

    > .header {
        font-weight: bold;
        cursor: pointer;
        flex-shrink: 0;
    }

    > .cards {
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;
    }

    > .cards > .kanban-card {
        margin: $block-indent 0;
    }

    > .add {
        cursor: pointer;
        flex-shrink: 0;
    }
}

.add-kanban-list {
    @mixin block-bordered;
    @mixin block-click;
}

.kanban-card {
    @mixin block-bordered;
    @mixin block-grab;
    @mixin block-click;
}

.new-kanban-card-form {
    > .field {
        @mixin block-bordered;
    }

    > .actions {
        margin-top: $block-indent;
        clear: fix;
    }

    > .actions > .action {
        @mixin block-bordered;
        @mixin block-click;
        float: left;
        margin-right: $block-indent;
    }
}

.edit-kanban-list-header-form {
    margin-bottom: calc(2 * $block-indent);

    > .field {
        @mixin block-bordered;
    }

    > .actions {
        margin-top: $block-indent;
        clear: fix;
    }

    > .actions > .action {
      @mixin block-bordered;
      @mixin block-click;
      float: left;
      margin-right: $block-indent;
    }
}
