@import "normalize.css";

* {
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
    outline: none;
    width: 100%;
    display: block;
    border: none;
}

$block-indent: 10px;
$block-border-radius: 4px;

@define-mixin grab {
    cursor: grab;

    &.-grabbing {
        cursor: grabbing;
        transform: rotate(2deg);
    }

    &.-placeholder {
        $color: color(white b(20%));
        background: $color;
        color: $color;

        * {
            visibility: hidden;
        }
    }
}

body {
    height: 100vh;
}

#root {
    height: 100%;
}

.kanban-board {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;

    padding: $block-indent 0;

    > * {
        flex-basis: 270px;

        flex-shrink: 0;

        margin: 0 calc($block-indent/2);
    }
    > :first-child {
      margin-left: $block-indent;
    }
    > :last-child {
      margin-right: $block-indent;
    }
}

.kanban-section {
    @mixin grab;

    border-radius: $block-border-radius;
    padding: $block-indent;
    background: color(white b(15%));

    display: flex;
    flex-direction: column;
    max-height: 100%;

    > .heading {
        align-self: flex-start;
        font-weight: bold;
    }

    > .kanban-cards {
        overflow-y: auto;
        margin: $block-indent 0;
    }

    > .add {
        cursor: pointer;
        flex-shrink: 0;
    }
}

.kanban-section-edit-heading-form {
    > .input {
        border-radius: $block-border-radius;
        padding: $block-indent;
        margin-bottom: $block-indent;
    }

    > .save, .cancel {
        float: left;
        padding: $block-indent;
        margin-right: $block-indent;
        border-radius: $block-border-radius;
        background: color(white b(80%));
        color: color(white b(2%));
        cursor: pointer;

        &:hover {
            background: color(white b(70%));
        }
    }
}

.kanban-cards {
    > .kanban-card {
        margin: $block-indent 0;
    }
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.kanban-card {
    @mixin grab;

    background: white;
    border-radius: $block-border-radius;
    padding: $block-indent;

    cursor: pointer;

    &:hover {
        background: color(white b(10%));
    }
}

/*.new-kanban-card-form {*/
    /*> .field {*/
        /*@mixin block-bordered;*/
    /*}*/

    /*> .actions {*/
        /*margin-top: $block-indent;*/
        /*clear: fix;*/
    /*}*/

    /*> .actions > .action {*/
        /*@mixin block-bordered;*/
        /*@mixin block-click;*/
        /*float: left;*/
        /*margin-right: $block-indent;*/
    /*}*/
/*}*/

/*.edit-kanban-list-header-form {*/
    /*margin-bottom: calc(2 * $block-indent);*/

    /*> .field {*/
        /*@mixin block-bordered;*/
    /*}*/

    /*> .actions {*/
        /*margin-top: $block-indent;*/
        /*clear: fix;*/
    /*}*/

    /*> .actions > .action {*/
      /*@mixin block-bordered;*/
      /*@mixin block-click;*/
      /*float: left;*/
      /*margin-right: $block-indent;*/
    /*}*/
/*}*/
